.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 115px;
}
.custom-shape-divider-top .shape-fill.white {
    fill: #FFFFFF;
}
.custom-shape-divider-top .shape-fill.purple {
    fill: #e11383;
}