.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 115px;
}
.custom-shape-divider-top.white .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-top.purple .shape-fill {
    fill: #e11383;
}
/* End */